body{
    padding: 10px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: sans-serif;
}

header > p{
    margin: 10px 0px;
    line-height: 10px;
}

p{
    font-size: 13px;
    letter-spacing:0.5px;
    margin: 20px 0px;
    line-height: 18px;
}

.gray{
    color: #555;
}

blockquote{
    background-color:#f3f3f3;
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 20px;
    margin: 10px;
    min-width: 500px;
    overflow-x: scroll;
}

li{
    font-size: 13px;
}