@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
  --primary: #4f46e5;
}
body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.container{
    max-width: 550px;
    margin-block: 5rem;
    /* border: 1px solid red; */
}

@media (max-width: 550px){
    .container{
        width: 100%;
        margin: 1rem;
        /* border: 2px solid red; */
    }
    form .two{
        flex-direction: column;
    }
    form .two button{
        margin: 0;
    }
}

.container > header img{
    object-fit: cover;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    margin-block: 12px;

}
.container > header p{
    font-family: monospace;
    font-size:1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--primary);
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.container > header h1{
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 700;
}

.hero p{
    font-size: 0.9rem;
    color: #444;
}

.features{
    background-color: #eeeeee6c;
    
    border-radius: 8px;
    padding: 1rem;
    border: 1px solid #ddd;
    margin: 1rem 0;
}

.features > h3{
    font-size: 1.2rem;
    /* border-bottom: 1px solid #ddd; */
}

.features > ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 0.4rem 0;
    color: #222;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form > h2{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

form label {
    font-size: 0.9rem;
    color: #444;
}

form input{
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 0.8rem;
}
form  .two{
    /* border: 1px solid red; */
    display: flex;
    gap:1rem;
}
form  .two > div{
    display: flex;
    width: 100%;
    gap:0.5rem;
    flex-direction: column;
}

form .one{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form > p{
    font-size: 0.9rem;
}
a{
    color: var(--primary);
}

.two > button {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    margin-block: 1rem;
    cursor: pointer;
}
.two > button:hover{
    background-color: #3c35b9;
}